{% extends './templateLogin.html.twig' %}
{% block body %}
    <div class="col-6 text-center d-flex flex-column justify-content-center vh-100" id="left_Zone_Login_Registe">
        <p>Bienvenue</p>
        <h1>Getting Out Again</h1>
        <p>The next generation social network & community! Connect with your friends and play with our quests and badges gamification system!</p>
    <div class="d-flex flex-row btn_Action justify-content-center">
        <a href="{{path('app_login')}}" class="btn {% if login is  defined %}bg-light text-dark{% endif %}">login</a>
        <a href="{{ path('app_register') }}" class="btn {% if register is  defined %}bg-light text-dark{% endif %}">S'enregister</a>
    </div>
    </div>
    <div class="col-6 pr-5 pl-5 d-flex flex-column justify-content-center vh-100" id="right_Zone_Login_Registe">
        {% if registrationForm is defined %}
            {{ form_start(registrationForm) }}
            <h2>Register</h2>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.pseudo) }}
            {{ form_row(registrationForm.plainPassword)}}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-success">Register</button>
            {{ form_end(registrationForm) }}
        {% else %}
            <form method="post">
                {% if registerinfo is defined %}
                <div class="alert alert-warning">{{ registerinfo }}</div>
                {% endif %}
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté {{ app.user.username }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
                    </div>
                {% else %}

                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                <label for="inputEmail">E-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Ne me quitte plus
                    </label>
                </div>


                <button class="btn btn-lg btn-success" type="submit">
                    Connexion
                </button>
                {% endif %}
            </form>
        {% endif %}
    </div>
{% endblock %}