<div class="col-6">
    <div class="row bg-light m-2 friend_Card d-flex justify-content-center align-items-center">
        <div class="col-3">
            <a href="{{ path('user.show',{'id':friend.user.id}) }}">
                <img class="image_Friends ml-2 mt-1" src="{% if friend.user.pictureProfil is null %}{{ asset('build/img/avatars/2.jpg')}}{% else %}{{ asset(friend.user.pictureProfil.url) }}{% endif %}" alt="">
            </a>
        </div>
        <div class="col-9">
            <a href="{{ path('user.show',{'id':friend.user.id}) }}">
                <p>{{ friend.user.firstname }} {{ friend.user.lastname }}</p>
                <p>{{ friend.user.pseudo }}</p>
            </a>
            <div class="friend_Badges">

            </div>
        </div>
    </div>

</div>
