<div class="container">
    <div class="row" id="section_News">
        <aside class="p-0 col-3 mobile-none">
            {% include 'content/widgets/widget-reseaux.html.twig' %}
            <div class="aside_Block w-100 mt-2 p-2">
                <h3>Informations</h3>
                <p>{{ user.description }}</p>
            </div>
        </aside>
        <div class="col-lg-6 col-md-12 col-sm-12">
            {% if editComment is not defined %}
                {% if yourFriend is defined and yourFriend == 'ok' or user == app.user%}
                    {% include 'content/users/add_Post.html.twig' %}
                {% endif %}
                <!-- lists posts -->
                {% for post in posts|reverse %}
                    {% include 'content/users/posts.html.twig' %}
                {% endfor %}
            {% else %}
                {% include 'content/users/posts.html.twig' %}
            {% endif %}
        </div>
        <aside class="col-3 p-0 mobile-none">
            <div class="aside_Block w-100 mt-2 p-2">
                <h3>Friends ({{ friends|length }})</h3>
                <div class="d-flex">
                    {% for friend in friends %}
                        {% if friend.status == "best friends" or  friend.status == "friends" %}
                            <a href="{{ path('user.show',{'id':friend.user.id}) }}">
                                <img class="image_Friends m-1" src="{% if friend.user.pictureProfil is null %}{{ asset('build/img/avatars/2.jpg')}}{% else %}{{ asset(friend.user.pictureProfil.url) }}{% endif %}" alt="">
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="aside_Block w-100 mt-2 p-2">
                <h3>Upcoming Events</h3>
                <div class="row w-100">

                </div>
            </div>
        </aside>
    </div>
</div>
