{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4 pb-4" id="etablissement_info_unique">
        <div class="row">
            <div class="col-12 top_Block p-0">
                <figure class="mb-0">
                    <img src="{{ asset('build/img/cover/1.jpg') }}" alt="" style="width: 100%;height: 350px;object-fit: cover">
                </figure>
                <div class="info_Etablissement p-4 bg-light d-flex justify-content-between">
                    <div class="name_Etablissement">{{ group.name }}</div>
                    <div class="d-flex flex-row justify-content-between col-4">
                        <div class="info_Stat_Etablissement">
                            <p>{{ group.affGroupes | length }}</p>
                            <p class="info_Stat">membres</p>
                        </div>
                        <div class="info_Stat_Etablissement">
                            <p>{{ group.posts | length}}</p>
                            <p class="info_Stat">Posts</p>
                        </div>
                        <div class="d-flex direction-row">
                            {% if membre %}
                            <a href="{{ path('groupe.exit',{'id':group.id}) }}" style="width: 50px;height: 50px" class="pt-3 btn btn-danger d-flex align-items-center justify-content-center mr-2">
                                <svg class="icon-skull">
                                    <use xlink:href="#svg-skull"></use>
                                </svg>
                            </a>
                            {% endif %}
                            {% if admin %}
                            <button class="btn btn-warning d-flex align-items-center justify-content-center">
                                <svg class="icon-more-dots">
                                    <use xlink:href="#svg-more-dots"></use>
                                </svg>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <aside class="col-3 p-0">
                <div class="aside_Block w-100 mt-2 p-2">
                    <h3>Proprios</h3>
                    <div>
                        <a href="{{ path('user.show',{'id':group.createdBy.id}) }}">
                            <img class="image_Friends m-1" src="{% if group.createdBy.pictureProfil is null %}
                            {{ asset('build/img/avatars/2.jpg')}}
                            {% else %}
                            {{ asset(group.createdBy.pictureProfil.url) }}
                            {% endif %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="aside_Block w-100 mt-2 p-2">
                    <h3>Membres ({{ group.affGroupes | length }})</h3>
                    <div>
                        {% for aff in group.affGroupes | slice(0,10) %}
                        <a href="{{ path('user.show',{'id':aff.user.id}) }}">
                            <img class="image_Friends m-1" src="{% if aff.user.pictureProfil is null %}
                            {{ asset('build/img/avatars/2.jpg')}}
                            {% else %}
                            {{ asset(aff.user.pictureProfil.url) }}
                            {% endif %}" alt="">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="aside_Block w-100 mt-2 p-2">
                    <h3>Top Posts</h3>
                </div>
            </aside>
            <div class="col-9 pr-0">
                {% if editComment is not defined %}
                    {% if formPost is not null %}
                        {% include 'content/groups/add_Post.html.twig' %}
                    {% endif %}
                    {% for post in posts | reverse %}
                        {% include 'content/groups/GroupPost.html.twig' %}
                    {% endfor %}
                {% else %}
                    {% include 'content/groups/GroupPost.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

