<div class="d-flex flex-column justify-content-center col-4 mb-4">
    <div class="preview_Group_Card">
        <figure class="image_card">
            <img src="{{ asset('build/img/cover/1.jpg') }}" alt="">
            <img src="{{ asset('build/img/avatars/2.jpg') }}" alt="" class="image_card_profil">
            <div class="type_Group d-flex justify-content-center align-items-center">
                {% if group.status == '0' %}
                    <svg class="icon-public">
                        <use xlink:href="#svg-public"></use>
                    </svg>
                {% elseif group.status == "1" %}
                    <svg class="icon-private">
                        <use xlink:href="#svg-private"></use>
                    </svg>
                {% endif %}
            </div>
        </figure>
        <div class="info_Group p-4 text-center">
            <div class="info_Group">
                <div class="row">
                    <div class="col-12 title_Group">
                        <a href="">{{ group.title }}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p>{{ group.affGroupes | length }}</p>
                        <p class="sub-title">Membres</p>
                    </div>
                    <div class="col-4">
                        <p>{{ group.posts | length }}</p>
                        <p class="sub-title">Posts</p>
                    </div>
                    <div class="col-4">
                        <p>243</p>
                        <p class="sub-title">visite</p>
                    </div>
                </div>
                <p class="descrip_Group">{{ group.description}} </p>
            </div>
            <div class="mt-4">
                {% set membre = '' %}
                {% for groups in app.user.affGroupes %}
                    {% if groups.groupe == group %}
                        {% if groups.status == 1 %}
                            {% set membre = 'ok' %}
                        {% else %}
                            {% set membre = 'att' %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if group.createdBy == app.user or membre == 'ok' %}
                    <a href="{{ path('groupe.show',{'id':group.id}) }}" class="btn btn-success w-100">
                        <svg class="icon-send-message">
                            <use xlink:href="#svg-send-message"></use>
                        </svg>
                        Aller au groupe
                    </a>
                {% elseif membre == 'att'%}
                    <button  class="btn btn-warning w-100" disabled>
                        <svg class="icon-clock">
                            <use xlink:href="#svg-clock"></use>
                        </svg>
                        En attente de validation
                    </button>
                {% else %}
                    <a href="{{ path('groupe.aff',{'id':group.id}) }}" class="btn btn-primary w-100">
                        <svg class="icon-join-group">
                            <use xlink:href="#svg-join-group"></use>
                        </svg>
                        Rejoindre ?
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
