<h1>Welcome {{ username }}!</h1>

<p>
    You signed up as {{ username }} the following email:
</p>
<p><code>{{ address }}</code></p>
<p>Pour valider ton compte tu peux aller sur: <a href="http://127.0.0.1:8000/valide/{{ user }}?token={{ token }}">Valider le compte</a></p>
