{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-4 pb-4" id="user_Info_Unique">
        <!--  top profil -->
        <div class="row">
            <div class="col-12 top_Block p-0">
                <figure class="mb-0">
                    <img src="{% if user.banner is null %}{{ asset('build/img/cover/1.jpg') }}{% else %}{{ asset(user.banner.url) }}{% endif %}" alt="Banner" class="banner">
                    <img src="{% if user.pictureProfil is null %}{{ asset('build/img/avatars/2.jpg') }}{% else %}{{ asset(user.pictureProfil.url) }}{% endif %}" alt="Avatar" class="picture_Profil">
                </figure>
                <div class="info_User p-4 bg-light d-flex align-items-center justify-content-around">
                    <div class="align-items-center d-flex align-items-center justify-content-around flex_1">
                        <div class="d-flex align-items-center flex-column col-3">
                            <p>{{ user.visite -}}</p>
                            <p class="cat_Info_User">Visites</p>
                        </div>
                        <div class="d-flex align-items-center flex-column col-3">
                            <p>{{ user.getPosts | length }}</p>
                            <p class="cat_Info_User">Posts</p>
                        </div>
                        <div class="d-flex align-items-center flex-column col-3">
                            <p>{{ friends | length }}</p>
                            <p class="cat_Info_User">Friends</p>
                        </div>
                        <div class="d-flex align-items-center flex-column col-3">
                            <p>France</p>
                            <p class="cat_Info_User">Pays</p>
                        </div>
                    </div>
                    {% if user.firstname is null or user.lastname is null %}
                    <div class="d-flex justify-content-center flex_1">
                        <p class="text_Pseudo">{{ user.pseudo }}</p>
                    </div>
                    {% else %}
                    <div class="flex_1 d-flex align-items-center justify-content-center">

                        <div class="p-1">
                            <p class="name_User text-right">{{ user.firstname | capitalize  }}</p>
                        </div>
                        <div class="p-1">
                            <p class="name_User text-center">{{ user.lastname | upper }}</p>
                        </div>

                    </div>
                    {% endif %}
                    <div class="btn_Zone_Action">
                        {% if app.user != user %}
                            {% if yourFriend == 'ko' %}
                                <button id="add_Friend" class="btn btn-success" data-id="{{ user.id }}">
                                    <svg class="icon-add-friend">
                                        <use xlink:href="#svg-add-friend"></use>
                                    </svg>
                                    Add Friends
                                </button>
                            {% elseif yourFriend == 'aok' %}
                                <button class="btn btn-warning" disabled>
                                    <svg class="icon-add-friend">
                                        <use xlink:href="#svg-add-friend"></use>
                                    </svg>
                                    en Attente
                                </button>
                            {% elseif yourFriend == 'vok' %}
                                <button id="add_Friend" class="btn btn-warning" data-id="{{ user.id }}">
                                    <svg class="icon-add-friend">
                                        <use xlink:href="#svg-add-friend"></use>
                                    </svg>
                                    Demande
                                </button>
                            {% elseif yourFriend == 'ok' %}
                                <button id="delete_Friend" class="btn btn-danger" data-id="{{ user.id }}">
                                    <svg class="icon-remove-friend">
                                        <use xlink:href="#svg-remove-friend"></use>
                                    </svg>
                                    Me saoul
                                </button>
                                <button class="btn btn-primary">
                                    <svg class="icon-send-message">
                                        <use xlink:href="#svg-send-message"></use>
                                    </svg>
                                    Message
                                </button>
                                {% endif %}
                        {% else %}
                            <a href="{{ path('user.edit') }}" class="btn btn-warning btn_Sectting">
                                <svg class="icon-settings">
                                    <use xlink:href="#svg-settings"></use>
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                    <div class="badge_User_profil d-flex justify-content-end align-items-center flex_1">

                    </div>
                </div>
            </div>
        </div>
        <!--  /top profil -->

        <!--  sub menu  -->
        {% include'content/widgets/sub_menu.html.twig' %}
        <!--  /sub menu  -->

        <!-- section news -->
        {% include 'users/sections/section-news.html.twig' %}
        <!-- /section news -->

        <!-- section infos  -->
        {% include 'users/sections/section-infos.html.twig' %}
        <!-- /section infos -->

        <!-- section friends  -->
        {% include 'users/sections/section-friends.html.twig' %}
        <!-- /section friends -->

        <!-- section pictures  -->
        {% include 'users/sections/section-pictures.html.twig' %}
        <!-- /section pictures -->

        <!-- section groups -->
        {% include 'users/sections/section-groups.html.twig' %}
        <!-- /section groups -->

        <!-- section events -->
        {% include 'users/sections/section-events.html.twig' %}
        <!-- /section events -->


    </div>
{% endblock %}
